.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-inline: 16px;
  padding-block-end: 16px;
  border-bottom: 2px solid var(--color-gray-2);
}

.button{
  background-color: var(--color-primary);
}