.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-inline: 16px;
  //  border-bottom: 2px solid var(--border-color);
}

.button {
  background-color: var(--color-primary);
}