.root {
  flex: 1 1 auto;

  display: flex;
  justify-content: space-between;

  column-gap: 16px;

  @media (width <=492px) {
    flex-direction: column;
  }
}

.actions {
  display: flex;
  column-gap: 8px;
  flex: 1 0 auto;
}