.root {
  padding-block-end: 24px;
  padding-inline: 16px;
  overflow: auto;
  
  @media (max-width: 768px) {
    padding-bottom: 100px;
  }
}

.list {
  list-style: none;
  padding: 8px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  max-width: 100%;
  overflow: auto;
}
