.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.box {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-panel);

  background-color: var(--bg-panel);
  transition: all 0.15s ease;
}

.input:checked + .box {
  background-color: var(--accent);
  border-color: var(--accent);
  color: white;
}

.input:not(:checked) .icon {
  color: var(--bg-element);
}

.icon {
  width: 14px;
  height: 14px;
}
