.field {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  flex-grow: 1;
  width: 100%;

  &:has(input:not(:placeholder-shown)) label,
  &:has(input:focus) label {
    scale: 0.7;
    translate: -1.75em -2.6em;
  }

  & label {
    position: absolute;
    top: 50%;
    left: 17px;
    translate: 0 -50%;

    transition: scale 0.2s, translate 0.2s;
  }

  & input {
    --fieldInputPaddingX: 16px;

    width: 100%;
    height: var(--input-height);
    padding-inline: var(--fieldInputPaddingX);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);

    &:hover,
    &:focus {
      border-color: var(--color-dark);
    }

    &:focus {
      background-color: var(--color-gray-1);
      outline: none;
    }
  }
}

.inputWrapper {
  position: relative;
}

.errorContainer {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.hasError input {
  border-color: var(--color-danger);

  &:focus {
    border-color: var(--color-danger);
  }
}

.errorIcon {
  flex-shrink: 0;
}

.errorMessage {
  min-height: 24px;
  font-size: 14px;
  color: var(--color-danger);
}
