@use '@/shared/styles/functions' as *;

.page {
  height: 100vh;
  display: flex;
  justify-content: center;

  background: #dec9ab;
  background: linear-gradient(5deg, rgba(222, 201, 171, 1) 11%, rgba(113, 197, 101, 1) 100%, rgba(84, 196, 82, 1) 58%, rgba(250, 225, 187, 1) 100%);
}


.todo {
  display: flex;
  flex-direction: column;
  row-gap: calcValue(0, 24, 344, 767);
  max-height: 80vh;
  padding-inline: var(--container-padding-x);

  @media (width <= 474.98px) {
    max-height: 95dvh;
  }
}


.content {
  display: flex;
  flex-direction: column;
  gap: calcValue(16,24, 500) 0;
  background-color: #fff;
  padding-block: 36px;
  border-radius: 8px;
  overflow: hidden;
}

.alarm{
  padding-inline: 16px;
}