.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 8px;

  padding-block: 16px;
  padding-inline: 8px;

  border: var(--border);
  border-radius: var(--border-radius);
  border-color: #d7d1cd;
}

.checkbox {
  padding-inline: 8px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checked .title {
  text-decoration: line-through;
  color: #9e9e9e;
}

.title {
  flex-grow: 1;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 0 8px;
}


.actions {
  display: flex;
  gap: 8px;
}