@use '@/shared/styles/functions' as *;

.root {
  position: relative;
  max-width: 670px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: calcValue(22, 32, 320, 676);
  margin-bottom: 16px;
  padding-inline-start: 16px;
}

.form {
  flex-direction: column;
  align-items: stretch;

  & button{
    @media (width > 676px) {
      margin-left: auto;
    }
  }

}