.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding-block: 16px;

  border: var(--border);
  border-radius: var(--border-radius);
  border-color: #d7d1cd;
}

.checkbox{
  padding-inline: 8px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title{
  flex-grow: 1;
}


.actions {
  display: flex;
  gap: 8px;
}