@use '@/shared/styles/functions' as *;
@use '@/shared/styles/mixins' as *;

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font: var(--base-font-weight) var(--base-font-size) / var(--base-line-height) var(--base-font-family);
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-reduced-motion: reduce) {
  html, body {
    transition: none !important;
    transform: none !important;
  }
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + calc(var(--container-padding-x) * 2));
  margin-inline: auto;
  //  padding-inline: 16px;

  &--small {
    --container-width: 1088px;
  }
}


.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
}

.show {
  display: block;
}

.hidden-mobile {
  @media (width <= 768px) {
    display: none;
  }
}

.visible-mobile {
  @media (width <= 767.98px) {
    display: block;
  }
}