@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin tablets {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}