:root {
  --color-primary: #c4e3a5;
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-dark-1: #1E1E1E;
  --color-dark-2: #2C2C2C;

  --color-gray-1: #F5F5F5;
  --color-gray-2: #D9D9D9;
  --color-gray-3: #B3B3B3;
  --color-gray-4: #757575;

  --base-font-family: 'Roboto', sans-serif;
  --base-font-weight: 400;
  --base-font-size: 16px;
  --base-line-height: 1.5;

  --container-width: 670px;
  --container-padding-x: 16px;

  --header-height: 75px;
  --input-height: 44px;

  --border-radius: 6px;
  --border: 1px solid grey;

  --icon-size: 28px;
}

$laptops: 1023.98px;
$tablets: 767.98px;
$mobiles: 474.98px;
$headerHeight: 75;