.root {
  flex: 1 1 auto;

  display: flex;
  justify-content: space-between;

  gap: 16px;

  @media (width <=575.98px) {
    flex-direction: column;
    row-gap: 24px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 8px;
  flex: 1 0 auto;
}