.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 8px;
  height: var(--input-height);
  padding: 8px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-primary);
  color: black;
  cursor: pointer;
  user-select: none;

  &:hover {
    scale: 1.02;
    cursor: pointer;
  }

  &:active {
    scale: 1.05;
  }

  @media (width >=492px) {
    padding: 8px 16px;
  }
}

.root[data-icon-only='true'] {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
}

.root[data-active='true'] {
  background-color: var(--accent-hover);
}