.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 8px;
  min-width: 60px;
  height: var(--input-height);
  padding: 8px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-primary);
  color: black;
  cursor: pointer;
  user-select: none;

  &.danger {
    background-color: #ef4444;
    color: white;

    &:hover {
      background-color: #dc2626;
    }
  }

  &:not(:disabled) {
    &:hover {
      scale: 1.02;
      cursor: pointer;
    }

    &:active {
      scale: 1.05;
    }
  }


  &:disabled {
    background-color: var(--color-gray-3);
    cursor: not-allowed;
    scale: 1;
  }

  @media (width >=492px) {
    padding: 8px 16px;
  }
}

[data-icon-only='true'] {
  width: 24px;
  height: 24px;
  min-width: 24px;
  padding: 0;
  background-color: transparent;
  line-height: 0;
}

[data-active='true'] {
  background-color: var(--accent-hover);
}