.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, .4);
  z-index: 1000;
}

.modal {
  display: flex;
  max-width: var(--container-width);
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}