@use '@/shared/styles/functions' as *;

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding-inline: 16px;
  padding-block: 8px;
  border-top: 2px solid var(--color-gray-2);
  border-bottom: 2px solid var(--color-gray-2);
}

.root span{
  @media (width <=492px) {
    display: none;
  }
}

.actions{
  display: flex;
  gap: calcValue(8, 16, 344, 676);
  flex-wrap: wrap; 
  

  @media (width <= 492px) {
    justify-content: space-between;
    flex-grow: 1;
  }

}