.MobileDropdown {
  position: relative;
  display: inline-flex;
  justify-content: center;

}

.dotsButton {
  background: none;
  border: none;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  color: var(--text-primary);
}

.menu {
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 50% -50%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 8px;
  background: #222;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}