@use '@/shared/styles/functions' as *;

.page {
  height: 100vh;
  display: flex;
  justify-content: center;

  background: var(--bg-app);
}


.todo {
  display: flex;
  flex-direction: column;
  row-gap: calcValue(0, 24, 344, 767);
  max-height: 80vh;
  //  padding-inline: var(--container-padding-x);

  @media (width <= 474.98px) {
    max-height: 100svh;
  }
}


.content {
  display: flex;
  flex-direction: column;
  gap: calcValue(16, 24, 500) 0;
  background-color: var(--bg-panel);
  //  padding-block: 36px;
  border-radius: 8px;
  overflow: hidden;
}

.addTodoWrapper {
  position: relative;
}

.desktopVersion {
  display: block;
}

.mobileVersion {
  display: none;
}

.bottomSpacer {
  display: none;
}

@media (width <= 767.98px) {
  .desktopVersion {
    display: none;
  }

  .mobileVersion {
    display: block;
  }

  .bottomSpacer {
    display: block;
    height: 100px;
    pointer-events: none;
  }
}